<html lang="pt-br">

<head>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title> AA - Recorder </title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <!-- Modal -->
  <div id="meuModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Conteúdo do modal-->
      <div class="modal-content">

        <!-- Cabeçalho do modal -->
        <div class="modal-header">
          <h4 class="modal-title"><strong>Informações importantes</strong></h4>
        </div>

        <!-- Corpo do modal -->
        <div class="modal-body">
          <p><strong>O objetivo dessa aplicação é colher amostras de audios de determinadas frases, para isso contamos
              com sua ajuda.</strong></p>
          <p>
            Quando você clicar em <strong>Continuar</strong> serão lhe apresentadas algumas frases, basta clicar em
            <strong>Gravar</strong>, falar a frase e clicar em <strong>Parar</strong> em seguida.
          </p>
          <p>
            Lembre-se de escutar sua gravação para checar se tudo ocorreu bem. Se ocorreu clique em
            <strong>Enviar</strong>,
            caso contrário basta clicar em <strong>Gravar</strong> novamante e repetir o processo.
          </p>

          <br>

          <label for="modal-name" class="form-label" style="color: indianred;"><strong>Digite seu Nome:</strong></label>
          <input type="text" class="form-control" id="modal-name" placeholder="Nome" required>

          <br>

          <p><strong>O time do AudioAlerta agradece sua colaboração.</strong></p>
        </div>

        <!-- Rodapé do modal-->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onClick="reply_click(this.id)"
            id="modal-button">Continuar</button>
        </div>

      </div>
    </div>
  </div>


  <div class="recorder">
    <h1>AudioAlerta - Recorder</h1>
    <br>
    <div>
      <h2 id="frase"></h2>
      <div id="controls">
        <button id="recordButton">Gravar</button>
        <button id="stopButton" disabled>Parar</button>
        <button id="uploadButton" disabled>Enviar</button>
      </div>
      <p id="audio-info"></p>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <script type="text/javascript">
    

  </script>
  <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
  <script src="js/app.js"></script>
</body>

</html>